.col-md-10
  %br
  %h2 Configuration Options (Must Restart After Changes)
  %br

  %form{ :method => "post", :action => "/admin/config" }
    %form
      %table
        %tr
          %td
            %label.col-md-3{ :for => "risk_scoring" }
              Risk Scoring Algorithm
          %td
            %select#risk_scoring{ :name => "risk_scoring" }
              - if @scoring == "default"
                %option{ :selected => "selected" } Default
              - else
                %option Default Scoring
              - if @scoring == "dread"
                %option{ :selected => "selected" } DREAD
              - else
                %option DREAD
              - if @scoring == "cvss"
                %option{ :selected => "selected" } CVSSv2
              - else
                %option CVSSv2
              - if @scoring == "cvssv3"
                %option{ :selected => "selected" } CVSSv3
              - else
                %option CVSSv3
              - if @scoring == "riskmatrix"
                %option{ :selected => "selected" } RISKMATRIX
              - else
                %option RISKMATRIX

        - @config.each do |k,v|
          - next if k =~ /ssl_certificate/
          - next if k =~ /ssl_key/
          - next if k =~ /log_file/
          - next if k =~ /image_align/
          - next if k == "cvss" or k == "dread" or k == "cvssv3" or k == "riskmatrix"
          %tr
            %td
              %label.col-md-3{ :for => "#{k}" }
                #{k}
            %td
              - if (v == false) or (v == true) or (v == "false") or (v == "true")
                - if (v == true) or (v == "true")
                  %input{ :id => "#{k}", :type => "checkbox", :name => "#{k}", :checked => "checked" }
                - else
                  %input{ :id => "#{k}", :type => "checkbox", :name => "#{k}" }
              - elsif v.instance_of? Array
                %input{ :id => "#{k}", :type => "text", :name => "#{k}", :value => "#{v.join(',')}" }
              - else
                %input{ :id => "#{k}", :type => "text", :name => "#{k}", :value => "#{v}" }

      %br
      %input.btn.btn-default{ :type => "submit", :value => "Save" }
      %a.btn.btn-default{ :href => "/admin/" }
        Cancel
