.span10
  - if not @vulnmap
    Metasploit integration not enabled. Contact your administrator to enable (vulnmap configuration setting)
  - else
    %h2 Hosts
    This is a read-only view of the first 10k hosts within Metasploits database.
    %br
    %br
    .table.table-hover
      %table{:style => 'width: 90%'}
        %thead
          %tr
            %td
              %b IP Address
            %td
              %b Hostname
            %td
              %b Platform
            %td
              %b Info
        %tbody
          - if @hosts
            - @hosts.each do |host|
              %tr
                %td{:style => 'width: 20%', :"data-index" => "#{host["address"]}", :class=>"searchable"}
                  #{host["address"]}
                %td{:style => 'width: 20%', :"data-index" => "#{host["name"]}", :class=>"searchable"}
                  #{host["name"]}
                %td{:style => 'width: 20%', :"data-index" => "#{host["os_name"]}", :class=>"searchable"}
                  #{host["os_name"]}
                  #{host["os_sp"]}
                %td{:style => 'width: 40%', :"data-index" => "#{host["info"]}", :class=>"searchable"}
                  #{host["info"]}
