.col-md-10
  - if not @vulnmap
    Metasploit integration not enabled. Contact your administrator to enable (vulnmap configuration setting)
  - else
    %h2 services
    This is a read-only view of the first 10k opened services within Metasploits database.
    %br
    %br
    .table.table-hover
      %table{ :style => "width: 90%" }
        %thead
          %tr
            %td
              %b IP Address
            %td
              %b service Port
            %td
              %b service Name
            %td
              %b State
            %td
              %b Info
        %tbody
          - if @services
            - @services.each do |service|
              %tr
                %td.searchable{ :style => "width: 15%", :"data-index" => "#{service["host"]}" }
                  #{service["host"]}
                %td.searchable{ :style => "width: 15%", :"data-index" => "#{service["port"]}" }
                  #{service["port"]}
                %td.searchable{ :style => "width: 15%", :"data-index" => "#{service["proto"]}" }
                  #{service["name"]}
                %td.searchable{ :style => "width: 15%", :"data-index" => "#{service["state"]}" }
                  #{service["state"]}
                %td.searchable{ :style => "width: 40%", :"data-index" => "#{service["info"]}" }
                  #{service["info"]}
