.span10
  %h2 Vulnerabilities
  This is a read-only view of the first 10k vulnerabilities within Metasploits database.
  %p
  %label{:class => "control-label"}
    %a{:href=> '#vulninfomodal', "data-toggle"=>'modal', :class => 'btn btn-info'}
      More Info
  .modal{:id=>'vulninfomodal', :class=>'modal hide fade', :tabindex=>'-1', :role=>'dialog', "aria-labelledby"=>'modal-label', "aria-hidden"=>'true'}
    .modal-header
      %button{:type=>'button', :class=>'close', "data-dismiss"=>"modal", "aria-hidden"=>"true"}
        x
      %h3{:id=>"modal-label"}
        Metasploit Auto Mapping Vulnerabilities
    .modal-body
      To automatically add vulnerabilities from the Metasploit database into your report, you'll need to have one of the reference codes mapped to an existing Serpico finding.
      %p
      A reference code can be added by editing the
      %b Vuln ID
      field of a finding in the Findings Database.
      %p
      %a{:href=> '/master/findings', :class=>'btn btn-default', }
        Go to Findings Database
      %p
  %br
  .table.table-hover
    %table{:style => 'width: 90%'}
      %thead
        %tr
          %td
            %b Vulnerability
          %td
            %b Host
          %td
            %b Port
          %td
            %b References
      %tbody
        - if @vulns
          - @vulns.each do |vuln|
            %tr
              %td{:style => 'width: 50%', :"data-index" => "#{vuln["name"]}", :class=>"searchable"}
                #{vuln["name"]}
              %td{:style => 'width: 10%', :"data-index" => "#{vuln["host"]}", :class=>"searchable"}
                #{vuln["host"]}
              %td{:style => 'width: 5%', :"data-index" => "#{vuln["port"]}", :class=>"searchable"}
                #{vuln["port"]}
              %td{:style => 'width: 35%', :"data-index" => "#{vuln["refs"]}", :class=>"searchable"}
                #{vuln["refs"]}
