.span10
  %form{:method => 'post'}
    %br
    %h2 Consultant Information
    %br
    %table
     %tr
        %td
          Consultant Company &nbsp;
        %td
          %input{:type => 'text', :name => 'company', :value=> "#{@user.name}"} 
     %tr
        %td
          Consultant Name &nbsp;
        %td
          %input{:type => 'text', :name => 'name', :value=> "#{@user.name}"}
      %tr
        %td
          Email &nbsp;
        %td
          %input{:type => 'text', :name => 'email', :value => "#{@user.email}"}
      %tr
        %td
          Phone &nbsp;
        %td
          %input{:type => 'text', :name => 'phone', :value => "#{@user.phone}"}
      %tr
        %td
          Title &nbsp;
        %td
          %input{:type => 'text', :name => 'title', :value => "#{@user.title}"}

    %br
    %input{:type => 'submit', :value => 'Save' }
    %input{ :type => "button", :value => 'Cancel'}


