.col-md-10
  %br
  - if @findings
    - if @autoadd
      %h3 Auto Add Findings
      %h4
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; The following findings were automatically selected to be added to your report.
    - else
      %h3 Templated Findings
      %h4
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Add findings from the template database to your report.
    %br

    %input.form-control#search{ :type => "text", :placeholder => "Finding Name Search" }
    %style#search_style
    %span.input-group-btn
    %form.form-inline{ :method => "post", :action => "/report/#{@report.id}/findings_add" }
      .table
        %table{ :style => "width: 90%" }
          %tbody
          - settings.finding_types.each do |type|
            %tr
              %td{ :colspan => "2" }
                %b
                  #{type}
                %i.icon-list#actionButton{ "data-toggle" => "collapse", "data-target" => "#findings_list_#{type.gsub(' ','_')}" }
                - col = "collapse out"
                - @findings.each do |finding|
                  - if finding.type == type
                    - col = "collapse in"
                .findings_list{ :id => "findings_list_#{type.gsub(' ','_')}", :class => "#{col}" }
                  - if @findings.size > 0
                    .table.table-hover
                      %table{ :style => "width: 100%" }
                        - @findings.each do |finding|
                          - if finding.type == type
                            - if @languages and @languages.size > 1
                              - next unless (finding.language == @report.language) or (@report.language == "English" and finding.language == nil)
                            %tr
                              %td.searchable{ :style => "width: 80%", :"data-index" => "#{finding.title.downcase}" }
                                - if @autoadd
                                  - if @autoadd_findings.include?(finding.id.to_s) and not @dup_findings.include?(finding.id)
                                    %input{ :id => "finding_#{finding.id}", :type => "checkbox", :name => "finding[]", :value => "#{finding.id}", :checked => "" }
                                  - else
                                    %input{ :id => "finding_#{finding.id}", :type => "checkbox", :name => "finding[]", :value => "#{finding.id}" }
                                - else
                                  %input{ :id => "finding_#{finding.id}", :type => "checkbox", :name => "finding[]", :value => "#{finding.id}" }
                                %label.control-label{ :for => "finding_#{finding.id}" }
                                  #{finding.title}
                                - if @dup_findings
                                  - if @dup_findings.include?(finding.id)
                                    .label.label-warning Duplicate
                                - if finding.overview
                                  %i.icon-chevron-down#actionButton{ "data-toggle" => "collapse", "data-target" => "#info_#{finding.id}" }
                                  .info.collapse.out{ :id => "info_#{finding.id}" }
                                    #{finding.overview.gsub("<paragraph>","<br />").gsub("</paragraph>","").gsub("<bullet>","&#x2022;").gsub("</bullet>","")}
                                  - if @autoadd_hosts
                                    - @autoadd_hosts.keys.each do |x|
                                      - if finding.id == x.to_i
                                        - @autoadd_hosts[x].each do |ip|
                                          .label.label-default #{ip}
                                        - iplist = @autoadd_hosts[x].join(",")
                                        %input{ :type => "hidden", :name => "finding#{finding.id.to_s}", :value => "#{iplist}" }
                              %td.searchable{ :style => "width: 20%", :"data-index" => "#{finding.title.downcase}" }
                                - if @master
                                  %a.btn.btn-warning{ :href => "/master/findings/#{finding.id}/edit" }
                                    %i.icon-pencil.icon-white{ :title => "Edit" }
                                  %a.btn.btn-info{ :href => "/master/findings/#{finding.id}/preview" }
                                    %i.icon-play-circle.icon-white{ :title => "Preview" }
                                - else
                                  %a.btn.btn-info{ :href => "/master/findings/#{finding.id}/preview" }
                                    %i.icon-play-circle.icon-white{ :title => "Preview" }

      %br
      %input.btn.btn-default{ :type => "submit", :value => "Add" }
      %a.btn.btn-default{ :href => "/report/#{@report.id}/findings" }
        Cancel
  - else
    No Findings Available
