.col-md-10
  %br
  %h2 Consultant Information
  %br

  %form{ :method => "post" }
    %table
      %tr
        %td
          %label.col-md-3{ :for => "company" }
            Consultant Company &nbsp;
        %td
          %input#company{ :type => "text", :name => "company", :value=> "#{@user.consultant_company}" }
      %tr
        %td
          %label.col-md-3{ :for => "name" }
            Consultant Name &nbsp;
        %td
          %input#name{ :type => "text", :name => "name", :value=> "#{@user.consultant_name}" }
      %tr
        %td
          %label.col-md-3{ :for => "email" }
            Email &nbsp;
        %td
          %input#email{ :type => "text", :name => "email", :value => "#{@user.consultant_email}" }
      %tr
        %td
          %label.col-md-3{ :for => "phone" }
            Phone &nbsp;
        %td
          %input#phone{ :type => "text", :name => "phone", :value => "#{@user.consultant_phone}" }
      %tr
        %td
          %label.col-md-3{ :for => "title" }
            Title &nbsp;
        %td
          %input#title{ :type => "text", :name => "title", :value => "#{@user.consultant_title}" }

    %br
    %input.btn.btn-default{ :type => "submit", :value => "Save" }
    %a.btn.btn-default{ :href => "/" }
      Cancel
