.span10
  %br
  - if @attachments
    %br
      %h3 Current Attachments
      %br
      .table.table-striped
        %table{:style => 'width: 90%'}
          %tbody
            - @attachments.each do |attachment|
              %tr
                %td{:style => 'width: 70%'}
                  #{attachment.description}
                %td{:style => 'width: 30%'}
                  %a{ :class => "btn btn-info", :href => "/report/#{attachment.report_id}/attachments/#{attachment.id}"}
                    %i{:class => 'icon-play-circle icon-white', :title => 'Preview'}
                  %a{ :class => "btn btn-danger", :href => "/report/#{attachment.report_id}/attachments/delete/#{attachment.id}"}
                    %i{:class => 'icon-remove icon-white', :title => 'Delete'}

  - else
    No Attachments Available.
  %br
  - if not @screenshot_names.to_s.empty?
    %h3 The following screenshot variables were found in your report template:
    %br
    .table.table-striped
      %table
        %tbody
          %col{:align => "left"}
          %col{:align => "center"}
          %tr
            %td
              %strong
                Screenshot Name
            %td
              %strong
                Uploaded?
          - @screenshot_names.split(",").each do |ss|
            %tr
              %td
                #{ss}
              %td{:style => "text-align: center"}
                - found = false
                - @attachments.each do |att|
                  - if att.description == ss
                    - found = true
                    %i.fa.fa-check{:style => "color:green"}
                - if found == false
                  %i.fa.fa-times{:style => "color:red"}



:javascript
  function confirmDelete(evt) {
    if (!confirm('Are you sure you want to permanently delete the select element ?')) {
      evt.preventDefault();
    }
  }

  var deleteElements = $('a.btn-danger');
  for (var index = 0, length = deleteElements.length; index < length; index++) {
    deleteElements[index].addEventListener('click', confirmDelete, false);
  }
