.span10
  %form{:method => 'post'}
    %br
    %h2 #{@report.report_name}
    %br
    - if @templates.size > 0
      %h4
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Modify the information that will appear in the report.
      %br
      .table.table-striped
        %table{:style => 'width: 70%'}
          %tbody
            %tr
              %td{:style => 'width: 30%'}
                Report Type
              %td{:style => 'width: 70%'}
                %select{ :name => "report_type" }
                  - @templates.each do |template|
                    - if template.finding_template == false and template.status_template == false
                      - if template.report_type == @report.report_type
                        %option{ :selected => "selected" } #{template.report_type}
                      - else
                        %option #{template.report_type}
            %tr
              %td{:style => 'width: 30%'}
                Title
              %td{:style => 'width: 70%'}
                %input{:type => 'text', :style => 'width: 90%', :name => 'report_name', :value => "#{@report.report_name}"}
            %tr
              %td{:style => 'width: 30%'}
                Full Company Name
              %td{:style => 'width: 70%'}
                %input{:type => 'text', :style => 'width: 90%', :name => 'full_company_name', :value => "#{@report.full_company_name}"}
            %tr
              %td{:style => 'width: 30%'}
                Short Company Name
              %td{:style => 'width: 70%'}
                %input{:type => 'text', :style => 'width: 90%', :name => 'short_company_name', :value => "#{@report.short_company_name}"}
            %tr
              %td{:style => 'width: 30%'}
                Company Website
              %td{:style => 'width: 70%'}
                %input{:type => 'text', :style => 'width: 90%', :name => 'company_website', :value => "#{@report.company_website}"}
            %tr
              %td{:style => 'width: 30%'}
                Company Address
              %td{:style => 'width: 70%'}
                %input{:type => 'text', :style => 'width: 90%', :name => 'contact_address', :value => "#{@report.contact_address}"}
            %tr
              %td{:style => 'width: 30%'}
                Company City
              %td{:style => 'width: 70%'}
                %input{:type => 'text', :style => 'width: 90%', :name => 'contact_city', :value => "#{@report.contact_city}"}
            %tr
              %td{:style => 'width: 30%'}
                State
              %td{:style => 'width: 70%'}
                %input{:type => 'text', :style => 'width: 90%', :name => 'contact_state', :value => "#{@report.contact_state}"}
            %tr
              %td{:style => 'width: 30%'}
                Company Zip
              %td{:style => 'width: 70%'}
                %input{:type => 'text', :style => 'width: 90%', :name => 'contact_zip', :value => "#{@report.contact_zip}"}
            %tr
              %td{:style => 'width: 30%'}
                Contact Name
              %td{:style => 'width: 70%'}
                %input{:type => 'text', :style => 'width: 90%', :name => 'contact_name', :value => "#{@report.contact_name}"}
            %tr
              %td{:style => 'width: 30%'}
                Contact E-Mail
              %td{:style => 'width: 70%'}
                %input{:type => 'text', :style => 'width: 90%', :name => 'contact_email', :value => "#{@report.contact_email}"}
            %tr
              %td{:style => 'width: 30%'}
                Contact Title
              %td{:style => 'width: 70%'}
                %input{:type => 'text', :style => 'width: 90%', :name => 'contact_title', :value => "#{@report.contact_title}"}
            %tr
              %td{:style => 'width: 30%'}
                Contact Phone
              %td{:style => 'width: 70%'}
                %input{:type => 'text', :style => 'width: 90%', :name => 'contact_phone', :value => "#{@report.contact_phone}"}
      %br
      %input{:type => 'hidden', :name => 'id', :value => "#{@report.id}"}
      %input{:type => 'submit', :value => 'Save'}
      %a{ :href => "/report/#{@report.id}/edit"}
        %input{ :type => "button", :value => 'Cancel'}
    - else
      %h3
        Hrm, there don't seem to be any report templates. An admin will need to <a href="/admin/templates/add">add</a> one -_-
