- if @reports.size > 0
  .form-group.has-search.row.mt-5
    .col-6
      %span.fa.fa-search.form-control-feedback
      %input#search.form-control{ :type => "text", :placeholder => "Report Name Search" }

  %style#search_style
  %br
  %a.btn.btn-danger#deletemultiple{ :href => "/report/remove/" }
    Delete selected
  %br
  %br

  #mytable.table.table-striped{ :style => "width: 80%" }
    %table
      %thead
        %tr
          %th
            %input.checkbox#checkall{ :type => "checkbox" }
          %th{ :style => "width: 65%" }
            Report Name
          %th{ :style => "width: 10%" }
            Customer
          %th{ :style => "width: 10%" }
            Owner
          %th.text-right{ :style => "width: 15%" }
            Actions
      %tbody
        - @reports.each do |report|
          %tr
            %td.searchable{ :"data-index" => "#{report.report_name.downcase}" }
              %input.checkbox{ :type => "checkbox", :name => "#{report.id}" }
            %td.searchable{ :"data-index" => "#{report.report_name.downcase}" }
              #{report.report_name}
            %td.searchable{ :"data-index" => "#{report.report_name.downcase}" }
              #{report.full_company_name}
            %td.searchable{ :"data-index" => "#{report.report_name.downcase}" }
              #{report.owner}
            %td.searchable.text-right{ :"data-index" => "#{report.report_name.downcase}" }
              - if @master
                %a.btn.btn-sm.btn-warning{ :href => "/master/reports/#{finding.id}" }
                  %i.fas.fa-pencil-alt{ :title => "Edit" }
                %a.btn.btn-sm.btn-info{ :href => "/master/reports/#{report.id}/generate" }
                  %i.far.fa-play-circle{ :title => "Preview" }
              - else
                %a.btn.btn-sm.btn-warning{ :href => "/report/#{report.id}/edit" }
                  %i.fas.fa-pencil-alt{ :title => "Edit" }
                %a.btn.btn-sm.btn-info{ :href => "/report/#{report.id}/generate" }
                  %i.far.fa-play-circle{ :title => "Preview" }
                %a.btn.btn-sm.btn-danger{ :href => "/report/remove/#{report.id}" }
                  %i.far.fa-trash-alt{ :title => "Delete" }
                %a.btn.btn-sm.btn-dark{ :href => "/admin/add_user/#{report.id}" }
                  %i.fas.fa-user{ :title => "Add Author" }

- else
  %h1.h4 You have no reports, how about <a href="/report/new">creating</a> or <a href="/report/import">importing</a> one...
