.col-md-10
  %form{ :method => "post" }
    %br
    %h2 #{@report.report_name}
    %br
    - if @templates.size > 0
      %h4
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Modify the information that will appear in the report.
      %br
      .table.table-striped
        %table{ :style => "width: 70%" }
          %tbody
            %tr
              %td{ :style => "width: 30%" }
                %label.col-md-3{ :for => "report_type" }
                  Report Type
              %td{ :style => "width: 70%" }
                %select#report_type{ :name => "report_type" }
                  - @templates.each do |template|
                    - if template.finding_template == false and template.status_template == false
                      - if template.report_type == @report.report_type
                        %option{ :selected => "selected" } #{template.report_type}
                      - else
                        %option #{template.report_type}
            - if @languages and @languages.size > 1
              %tr
                %td{ :style => "width: 30%" }
                  %label.col-md-3{ :for => "language" }
                    Language
                %td{ :style => "width: 70%" }
                  %select#language{ :name => "language" }
                    - @languages.each do |language|
                      - if language == @report.language
                        %option{ :selected => "selected" } #{language}
                      - else
                        %option #{language}
            %tr
              %td{ :style => "width: 30%" }
                %label.col-md-3{ :for => "report_name" }
                  Title
              %td{ :style => "width: 70%" }
                %input#report_name{ :type => "text", :style => "width: 90%", :name => "report_name", :value => "#{@report.report_name}" }
            %tr
              %td{ :style => "width: 30%" }
                %label.col-md-3{ :for => "assessment_type" }
                  Assessment Type
              %td{ :style => "width: 70%" }
                %select#assessment_type{ :name => "assessment_type" }
                  - @assessment_types.each do |assessment_type|
                    - if assessment_type == @report.assessment_type
                      %option{ :selected => "selected" } #{assessment_type}
                    - else
                      %option #{assessment_type}
            %tr
              %td{ :style => "width: 30%" }
                %label.col-md-3{ :for => "scoring" }
                  Scoring Type
              %td{ :style => "width: 70%" }
                %select#scoring{ :name => "scoring" }
                  - @risk_scores.each do |risk_score|
                    - if risk_score.downcase == @report.scoring.downcase
                      %option{ :selected => "selected" } #{risk_score}
                    - else
                      %option #{risk_score}
            %tr
              %td{ :style => "width: 30%" }
                %label.col-md-3{ :for => "full_company_name" }
                  Full Company Name
              %td{ :style => "width: 70%" }
                %input#full_company_name{ :type => "text", :style => "width: 90%", :name => "full_company_name", :value => "#{@report.full_company_name}" }
            %tr
              %td{ :style => "width: 30%" }
                %label.col-md-3{ :for => "short_company_name" }
                  Short Company Name
              %td{ :style => "width: 70%" }
                %input#short_company_name{ :type => "text", :style => "width: 90%", :name => "short_company_name", :value => "#{@report.short_company_name}" }
            %tr
              %td{ :style => "width: 30%" }
                %label.col-md-3{ :for => "company_website" }
                  Company Website
              %td{ :style => "width: 70%" }
                %input#company_website{ :type => "text", :style => "width: 90%", :name => "company_website", :value => "#{@report.company_website}" }
            %tr
              %td{ :style => "width: 30%" }
                %label.col-md-3{ :for => "contact_address" }
                  Company Address
              %td{ :style => "width: 70%" }
                %input#contact_address{ :type => "text", :style => "width: 90%", :name => "contact_address", :value => "#{@report.contact_address}" }
            %tr
              %td{ :style => "width: 30%" }
                %label.col-md-3{ :for => "contact_city" }
                  Company City
              %td{ :style => "width: 70%" }
                %input#contact_city{ :type => "text", :style => "width: 90%", :name => "contact_city", :value => "#{@report.contact_city}" }
            %tr
              %td{ :style => "width: 30%" }
                %label.col-md-3{ :for => "contact_state" }
                  State
              %td{ :style => "width: 70%" }
                %input#contact_state{ :type => "text", :style => "width: 90%", :name => "contact_state", :value => "#{@report.contact_state}" }
            %tr
              %td{ :style => "width: 30%" }
                %label.col-md-3{ :for => "contact_zip" }
                  Company Zip
              %td{ :style => "width: 70%" }
                %input#contact_zip{ :type => "text", :style => "width: 90%", :name => "contact_zip", :value => "#{@report.contact_zip}" }
            %tr
              %td{ :style => "width: 30%" }
                %label.col-md-3{ :for => "contact_name" }
                  Contact Name
              %td{ :style => "width: 70%" }
                %input#contact_name{ :type => "text", :style => "width: 90%", :name => "contact_name", :value => "#{@report.contact_name}" }
            %tr
              %td{ :style => "width: 30%" }
                %label.col-md-3{ :for => "contact_email" }
                  Contact E-Mail
              %td{ :style => "width: 70%" }
                %input#contact_email{ :type => "email", :style => "width: 90%", :name => "contact_email", :value => "#{@report.contact_email}" }
            %tr
              %td{ :style => "width: 30%" }
                %label.col-md-3{ :for => "contact_title" }
                  Contact Title
              %td{ :style => "width: 70%" }
                %input#contact_title{ :type => "text", :style => "width: 90%", :name => "contact_title", :value => "#{@report.contact_title}" }
            %tr
              %td{ :style => "width: 30%" }
                %label.col-md-3{ :for => "contact_phone" }
                  Contact Phone
              %td{ :style => "width: 70%" }
                %input#contact_phone{ :type => "tel", :style => "width: 90%", :name => "contact_phone", :value => "#{@report.contact_phone}" }
            %tr
              %td{ :style => "width: 30%" }
                %label.col-md-3{ :for => "assessment_start_date" }
                  Assessment Start Date
              %td{ :style => "width: 70%" }
                %input#assessment_start_date{ :type => "date", :style => "width: 90%", :name => "assessment_start_date", :value => "#{@report.assessment_start_date}" }
            %tr
              %td{ :style => "width: 30%" }
                %label.col-md-3{ :for => "assessment_end_date" }
                  Assessment End Date
              %td{ :style => "width: 70%" }
                %input#assessment_end_date{ :type => "date", :style => "width: 90%", :name => "assessment_end_date", :value => "#{@report.assessment_end_date}" }

      %input{ :type => "hidden", :name => "id", :value => "#{@report.id}" }

      %br
      %input.btn.btn-default{ :type => "submit", :value => "Save" }
      %a.btn.btn-default{ :href => "/report/#{@report.id}/edit" }
        Cancel

    - else
      %h3
        Hrm, there don't seem to be any report templates. An admin will need to <a href="/admin/templates/add">add</a> one -_-
