.span10
  %br
    %h3 Current Templates
    %br  
    .table.table-striped
      %table{:style => 'width: 80%'}
        %tbody
          - if @templates
            %tr
              %td{ :style => 'width: 30%' }
                %b
                  Report Type
              %td{ :style => 'width: 30%' }
                %b
                  Description 
              %td{ :style => 'width: 30%' }
                %b
                  Template Type
              %td{ :style => 'width: 10%' }
                %b
            - @templates.each do |template|
              %tr
                %td{ :style => 'width: 30%' }
                  #{template.report_type}                  
                %td{:style => 'width: 15%'}
                  #{template.description}
                %td{:style => 'width: 15%'}
                  - if template.finding_template
                    Finding Template
                  - elsif template.status_template
                    Status Template
                  - else
                    Report Template
                %td{:style => 'width: 60%'}
                  %a{:class => 'btn btn-info', :href => "/admin/templates/#{template.id}/edit"}
                    %i{:class => 'icon-pencil icon-white', :title => 'Edit'}
                  %a{ :class => "btn btn-danger", :href => "/admin/delete/templates/#{template.id}"}
                    %i{:class => 'icon-trash icon-white', :title => 'Delete Template'}
                  %a{:class => 'btn btn-info', :href => "/admin/templates/#{template.id}/download"}
                    %i{:class => 'icon-play-circle icon-white', :title => 'Preview'}
          - else
            No Templates. Silly goose, how will you create reports?
