.col-md-10
  %br
    %h3 Current Templates
    %br
    .table.table-striped
      %table{ :style => "width: 80%" }
        %tbody
          - if @docx_templates or @excel_templates
            %tr
              %th{ :style => 'width: 30%' }
                Template title
              %th{ :style => 'width: 30%' }
                Description
              %th{ :style => 'width: 30%' }
                Type
              %th{ :style => 'width: 10%' }
                Actions
            - @docx_templates.each do |template|
              %tr
                %td
                  #{template.template_title}
                %td
                  #{template.description}
                %td
                  #{template.template_type}
                %td
                  %a.btn.btn-warning{:href => "/admin/templates/#{template.id}/edit/word"}
                    %i.icon-pencil.icon-white{:title => 'Edit'}
                  %a.btn.btn-danger{:href => "/admin/delete/templates/#{template.id}/word"}
                    %i.icon-trash.icon-white{:title => 'Delete Template'}
                  %a.btn.btn-info{:href => "/admin/templates/#{template.id}/download/word"}
                    %i.icon-play-circle.icon-white{:title => 'Preview'}
            - @excel_templates.each do |template|
              %tr
                %td
                  #{template.template_title}
                %td
                  #{template.description}
                %td
                  #{template.template_type}
                %td
                  %a.btn.btn-warning{:href => "/admin/templates/#{template.id}/edit/excel"}
                    %i.icon-pencil.icon-white{:title => 'Edit'}
                  %a.btn.btn-danger{:href => "/admin/delete/templates/#{template.id}/excel"}
                    %i.icon-trash.icon-white{:title => 'Delete Template'}
                  %a.btn.btn-info{:href => "/admin/templates/#{template.id}/download/excel"}
                    %i.icon-play-circle.icon-white{:title => 'Preview'}
          - else
            No Templates. Silly goose, how will you create reports?
