%link{:href => "/css/bootstrap-suggest.css", :rel => "stylesheet"}/
%link{:href => "/css/dynamic-fields.css", :rel => "stylesheet"}/
%script{:src => "/js/bootstrap-suggest.js"}

.col-md-10
  %br
  %h3 Editing object " #{@udo_to_edit.type} "
  %h4 Existing properties
  %br

  %form.form-horizontal{ :method => "post", :enctype => "application/x-www-form-urlencoded" }
    - @udo_to_edit_properties.each do |param_name, value|
      .control-group
        %label.control-label{ :for => "prop_#{param_name}" } Property Name
        .controls
          %input{ :id => "prop_#{param_name}", :value => "#{param_name}", :name => "prop_#{param_name}" }
      .control-group
        %label.control-label{ :for => "default_#{param_name}" } Default Value
        .controls
          %textarea.allowMarkupShortcut.input-large{ :id => "default_#{param_name}", :name => "default_#{param_name}", :rows => "3" }
            #{meta_markup(value)}

    %br
    %h4 Add properties
    %br

    %div{ "data-role" => "dynamic-fields" }
      .form-inline
        .control-group
          %label.control-label{ :for => "prop_new_1" } New Property Name
          .controls
            %input#field-name.form-control#prop_new_1{ :type => "text", :name => "prop_new_1" }
        .control-group
          %label.control-label{ :for => "default_new_1" } Default Value
          .controls
            %textarea.allowMarkupShortcut.input-large#default_new_1{ :name => "default_new_1", :rows => "3" }
        %button.btn.btn-danger{ "data-role" => "remove" }
          %span.icon-minus
        %button.btn.btn-info{ "data-role" => "add" }
          %span.icon-plus

    %br
    %input.btn.btn-default{ :type => "submit", :value => "Edit", :name => "action" }
    %a.btn.btn-default{ :href => "/admin/udo_templates" }
      Cancel

:javascript
  $(function() {
      // Remove button click
      $(document).on(
          'click',
          '[data-role="dynamic-fields"] > .form-inline [data-role="remove"]',
          function(e) {
              e.preventDefault();
              $(this).closest('.form-inline').remove();
          }
      );
      // Add button click
      $(document).on(
          'click',
          '[data-role="dynamic-fields"] > .form-inline [data-role="add"]',
          function(e) {
              e.preventDefault();
              var container = $(this).closest('[data-role="dynamic-fields"]');
              new_field_group = container.children().filter('.form-inline:first-child').clone();
              var i = container.children().filter('.form-inline').size() + 1;
              new_field_group.find('label').each(function(){
                if ($(this).attr('for').startsWith("prop_new_")) {
                  $(this).attr('for','prop_new_'+i);
                } else {
                  $(this).attr('for','default_new_'+i);
                }
              });
              new_field_group.find('input').each(function(){
                  $(this).attr('id','prop_new_'+i)
                  $(this).attr('name','prop_new_'+i)
                  $(this).val('')
              });
              new_field_group.find('textarea').each(function(){
                  $(this).attr('id','default_new_'+i)
                  $(this).attr('name','default_new_'+i)
                  $(this).val('')
              });
              container.append(new_field_group);
          }
      );
  });
