.d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3.border-bottom
  %h1.h2 Create new #{@udo_template.type}

%form{ :method => "post", :enctype => "application/x-www-form-urlencoded" }
  - @udo_template_properties.each do |param_name, param_default_value|
    .form-group.row
      %label.col-lg-2.col-form-label{ :for => "param_#{param_name}" }
        %b #{param_name}
      .col-lg-4.striped-col
        %textarea.allowMarkupShortcut.form-control{ :id => "param_#{param_name}", :name => "param_#{param_name}", :rows => "2" }
          #{meta_markup(param_default_value)}

  %br
  %input.btn.btn-primary{ :type => "submit", :value => "Save", :name => "action" }
  %a.btn.btn-secondary{ :href => "/report/#{@report.id}/udo/manage" }
    Cancel
