.span10
  %form{:method => 'post'}
    %br
    %h2 Report Name: #{@report.report_name}
    %br
    %br
    - if @user_variables == ""
      %h3
        It appears you do not have any user defied variables. Would you like to add some?
      %br
      %h3
        Add user defined variables
      %br
      .table.table-striped
        %table
          %tr
          %td
            Variable Name:&nbsp;
          %td
            %input{:type => 'text', :style => 'width: 90%', :id => 'variable_name', :name =>'variable_name_0_'}
          %tr
          %td
            Variable data:&nbsp;
          %td
            %textarea{ :rows => '10', :class => 'input-xxlarge', :id => 'variable_data', :name => 'variable_data_0_'}
        %br
    - else
      - i = 0
      - w = 66
      - @user_variables.each do | variables_name, variables_data|
        .table.table-striped
          %table
            %tr
            %td
              Variable Name:&nbsp;
            %td
              %input{:type => 'text', :style => 'width: 90%', :id => 'variable_name', :name =>"variable_name_#{w}_", :value => "#{variables_name}"}
            %tr
            %td
              Variable data:&nbsp;
            %td
              %textarea{:name => "variable_data_#{w}_"}
                #{variables_data}
          %br
          - w = w + 1
        %br
        %br
      %h3
      Add addtional user defined variables
      .table.table-striped
        %table
          %tr
          %td
            Variable Name:&nbsp;
          %td
            %input{:type => 'text', :style => 'width: 90%', :id => 'variable_name_#{i}_', :name =>"variable_name_#{i}_"}
          %tr
          %td
            Variable data:&nbsp;
          %td
            %textarea{ :rows => '10', :class => 'input-xxlarge', :id => 'variable_data', :name => "variable_data_#{i}_"}
        %br
        - i = i + 1
    %input{:type => 'submit', :value => 'Save' }
    %a{ :href => "/report/#{@report.id}/additional_features"}
      %input{ :type => "button", :value => 'Cancel'}
